---
layout: default
title: Tags
---
<h1>Tags</h1>
<p class="tags">
  {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="tag-badge">{{ tag[0] }}</a>
  {% endfor %}
</p>

{% for tag in site.tags %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
  <ul class="post-list">
    {% for post in tag[1] %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <span class="post-meta post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
