@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$heading-font-family: "Roboto Slab", serif;
$heading-font-weight: bold;
$code-font-family: Consolas, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #ddd !default;
$background-color: #18191a !default;
$brand-color:      #acd !default;

$grey-color:       #bbb !default;
$grey-color-dark: lighten($grey-color, 40%) !default;
$grey-color-light:  darken($grey-color, 25%) !default;
$grey-color-lighter:  darken($grey-color, 55%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    700px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:300&display=swap');

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
